@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(95, 29, 80);
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.accordian {
    background-color: white;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgb(56, 54, 54);
    cursor: pointer;
    border: 0.5px solid black;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-right: 16px;
    transition: transform 0.2s;
}

.icon.active {
    transform: rotate(-180deg);
}

.answer {
    color: #666;
    max-height: 0px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 5px;
    transition: max-height 0.2s;
}