@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 30px;
  background: #1d2b3a;
}
.inputbox{
  position: relative;
  width:250px;
}
.inputbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3a;
  border-radius: 5px;
  outline:none;
  color:#ffffff;
  font-size: 1em;
  transition: 0.5s;
}
.inputbox span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5s;
}
.inputbox input:valid ~ span, 
.inputbox input:focus ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}
.inputbox input:valid ~ span, 
.inputbox input:focus ~ span {
  border: 1px solid #00dfc4;

}
.inputbox:nth-child(2) input:valid ~ span,
.inputbox:nth-child(2) input:focus ~ span
{
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
}
h1,h3,p{
  color: #00dfc4;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 1.2px;
}